:root {
  --color-primary: green;
  --color-lightGrey: lightgrey;
  --color-grey: grey;
  --color-darkGrey: darkGrey;
  --color-error: red;
  --color-success: lime;
  --font-family-sans: 'Ubuntu', sans-serif;
  --font-family-mono: 'Ubuntu Mono', monospace;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}